body {
  background: #353535;
  color: #e4e4e4;
}


.App {
  text-align: center;
  max-width: 200px;
  margin: 150px auto;
  border: 2px solid #5416b8;
  border-radius: 10px;
}

.display {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #5416b8;
  border-radius: 5px;
  background-color: #5416b8;
  font-size: 30px;
}

.max {
  color: #ffa704;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #5416b8;
  color: #e4e4e4;
  padding: 5px 10px;
  margin: 10px;
  text-transform: uppercase;
}

button:disabled {
  opacity: 0.5;
}

.button-wrapper {
  width: 80%;
  margin: 10px auto;
  border: 2px solid #5416b8;
  border-radius: 5px;
}